services:
  app:
    build: .
    volumes:
      - .:/app
      - gradle-cache:/root/.gradle
      - pub-cache:/root/.pub-cache
    command: flutter build apk --debug

  install:
    build: .
    network_mode: "host"
    environment:
      - ANDROID_SERIAL=192.168.50.8:5555
    volumes:
      - .:/app
      - gradle-cache:/root/.gradle
      - pub-cache:/root/.pub-cache
      - ~/.android:/root/.android  # Share ADB keys
    devices:
      - /dev/bus/usb:/dev/bus/usb
    command: flutter install --debug

volumes:
  gradle-cache:
  pub-cache:
